// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {margin: 0px; padding: 0px; background: #fff }
a {color:#000060; font-weight: bold;}
a:hover {color:#ff0000; font-weight: bold; text-decoration:blink}
h1 {font-family: Arial; color: #0000ff; font-size:28px; text-align: center}
.wel {font-family: Arial; color: red; font-size: 28px}
h2 {color: #ff00ff; font-size:20px}
p {color: #600000; font-size:14px; text-align: justify} 
